@model CurrencyMVC.Models.USCoin

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ICoin</h4>
    <hr />
    <dl class="dl-vertical">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayNameFor(model => model.MonetaryValue)
            @Html.DisplayNameFor(model => model.MintMark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.MonetaryValue)
            @Html.DisplayFor(model => model.MintMark)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
